@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

html {
    background-color: var(--primary-color);
    color: var(--quartenary-color);
}

a {
    text-decoration: none;
    color: var(--tertiary-color)
}

input, button {
    outline: none;
    border: none;
}